QWidget {{
	background-color: rgba({BACKGROUND});
	color: rgba({TEXT});
	border-width: 0px;
	border: none;
	margin: 0px;
	padding: 0px;
	outline: 0;
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}pt;
}}

QWidget:disabled {{
	color: rgba({SECONDARY_TEXT});
}}
QWidget:window {{
	border: none;
	border-width: 0px;
	border-color: rgba({FAVOURITE});
}}

BrowserWidget  {{
	background-color: rgba({SEPARATOR});
}}
MayaBrowserWidget {{
	background-color: rgba({SEPARATOR});
}}
QStackedWidget {{
	background-color: rgba({SEPARATOR});
}}
QStackedWidget:focus {{
	border: none;
	border-width: 0px;
	border-color: rgba({FAVOURITE});
}}

/* Preferences widget */
SectionsStackWidget {{
	background-color: rgba({BACKGROUND});
}}


QStatusBar {{
	color: rgba({TEXT});
	background-color: rgba({SEPARATOR});
	font-family: "{SECONDARY_FONT}";
	font-size: {SMALL_FONT_SIZE}pt;
	padding: 8px;
	margin: 8px;
}}
QStatusBar::item {{
	text-align: center;
	padding: 8px;
	margin: 8px;
	border: none;
}}


QCheckBox {{
	height: 12px;
	border-radius: 6px;
	background-color: rgba({SECONDARY_BACKGROUND});
	margin: 0px;
	padding: 6px;
}}
QCheckBox::indicator {{
	height: 12px;
	width: 12px;
	border: none;
	border-radius: 6px;
}}
QCheckBox::indicator:unchecked {{
	background-color: rgba({SEPARATOR});
}}
QCheckBox::indicator:checked  {{
	background-color: rgba({FAVOURITE});
}}


QRadioButton {{
	color: rgba({SECONDARY_TEXT});
	background-color: transparent;
	margin: 0px;
	padding: 4px;
}}
QRadioButton:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QRadioButton::indicator {{
	height: 12px;
	width: 12px;
	border: none;
	border-radius: 2px;
}}
QRadioButton::indicator:unchecked {{
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QRadioButton::indicator:checked  {{
	background-color: rgba({SECONDARY_TEXT});
}}


QPushButton {{
		text-align: left;
		padding-left: 10px;
		padding-right: 10px;
		border-style: solid;
		background-color: rgba({BACKGROUND_SELECTED});
		font-family: "{PRIMARY_FONT}";
		font-size: {MEDIUM_FONT_SIZE}pt;
		height: 24px;
}}
QPushButton:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QPushButton:hover {{
	padding-left: 8px;
		color: rgba({TEXT_SELECTED});
		background-color: rgba(150, 150, 150, 255);
}}
QPushButton:pressed {{
		padding-left: 7px;
		color: rgba({TEXT_SELECTED});
		background-color: rgba(130, 130, 130, 255);
}}




QComboBox {{
	text-align: left;
	height: 24px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
	background-color: rgba({BACKGROUND_SELECTED});
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}pt;
}}
QComboBox:hover {{
		color: rgb({TEXT_SELECTED});
		background-color: rgba(150, 150, 150, 255);
}}
QComboBox:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QComboBox QAbstractItemView {{
	margin: 0px;
	padding: 0px;
	outline: none;
}}
QComboBox::drop-down {{
		background-color: transparent;
		width: 0px;
		height: 0px;
		padding: 0px;
		margin: 0px;
		border-width: 0px;
		border-style: none;
		border-radius: 0px;
}}
QComboBox::drop-down:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
}}

QLineEdit {{
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-radius: 2px;
	padding: 6px;
}}
QLineEdit:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT_DISABLED});
}}

.QTextEdit {{
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-radius: 2px;
	padding: 6px;
}}
.QTextEdit:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT_DISABLED});
}}


QScrollBar {{
	background: rgba({SEPARATOR});
	border: none;
	border-radius: 0px;
	width:8px;
	height: 8px;
}}
QScrollBar:vertical,
QScrollBar:horizontal {{
	background: rgba({SEPARATOR});
	border: none;
}}
QScrollBar::handle {{
	background: rgba({BACKGROUND});
	border: none;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,20);
	max-height: 250px;
	min-height: 50px;
}}

QScrollBar::add-page,
QScrollBar::sub-page,
QScrollBar::add-line,
QScrollBar::up-arrow,
QScrollBar::down-arrow,
QScrollBar::sub-line {{
	background: rgba({SEPARATOR});
	border: none;
	border-radius: 0px;
}}


QListWidget {{
		background: rgba({SECONDARY_BACKGROUND});
}}
QListWidget::item {{
	outline: 0;
	color: rgba({TEXT});
  background: rgba(255,255,255,20);
}}
QListWidget::item:hover {{
  background: rgba(255,255,255,50);
}}
QListWidget::item:selected {{
	background: rgba(255,255,255,100);
}}
QListWidget::item:selected:hover {{
	background: rgba(255,255,255,130);
}}


QListView {{
	background: rgba({SECONDARY_BACKGROUND});
}}
DataKeyView {{
	margin: 0px;
	padding: 0px;
}}


QTableView {{
	background-color: rgba({SECONDARY_BACKGROUND});
	selection-background-color: transparent;
}}
QTableView::indicator {{
	background-color: rgba({FAVOURITE});
}}


QHeaderView {{
	color: rgba({TEXT_SELECTED});
	background-color: rgba({TEXT});
	text-align: left;
	border-bottom: 1px solid rgba({SEPARATOR});
	border-top: 1px solid rgba({SEPARATOR});
}}
QHeaderView::section {{
	background-color: rgba({BACKGROUND});
	color: rgba({TEXT_SELECTED});
	border: none;
	border-left: 1px solid rgba({SEPARATOR});
	border-radius: 0px;
}}


/* QTreeView */
QTreeView {{
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
}}
/* QTreeView::item - The actual rows*/
QTreeView::item {{
	border: none;
}}
QTreeView::item:hover {{
  background: rgba(255,255,255, 20);
}}
QTreeView::item:focus {{
  background: transparent;
}}
QTreeView::item:selected {{
	background: rgba(255, 255, 255, 100);
}}
/* QTreeView::branch - The space where the chevrons reside */
QTreeView:branch {{
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-image: none;
}}
QTreeView::branch:focus {{
  background: transparent;
}}
QTreeView:branch:selected {{
	background: rgba(255, 255, 255, 100);
}}
QTreeView:branch:!open:has-children {{
  image: url("{BRANCH_CLOSED}");
}}
QTreeView:branch:open:has-children:!has-siblings,
QTreeView:branch:open:has-children:has-siblings {{
  image: url("{BRANCH_OPEN}");
}}


QLabel {{
	background-color: transparent;
}}
QLabel:disabled {{
	background-color: transparent;
	color: rgba({TEXT_DISABLED});
}}


QMenu {{
    background-color: rgba({SECONDARY_BACKGROUND}); /* sets background of the menu */
		font-family: "{SECONDARY_FONT}";
		font-size: {SMALL_FONT_SIZE}pt;
		margin: 0px;
		border: none;
		menu-scrollable: 1;
}}
QMenu::item {{
	padding: 6px 30px 6px 30px;
	margin: 0px;
	border: none;
}}
QMenu::icon {{
	padding: 8px 8px 8px 6px;
	margin: 0;
}}
QMenu::item:disabled{{
	color: rgba({TEXT_DISABLED});
}}
QMenu::item:selected, QMenu::item:hover {{ /* when user selects item using mouse or keyboard */
    color: rgba({TEXT_SELECTED});
    background-color: rgba({BACKGROUND_SELECTED});
}}
QMenu::indicator {{
    height: 1px;
    background: rgba({SEPARATOR});
    margin-left: 30px;
    margin-right: 30px;
}}


QToolTip {{
  background-color: rgba({SECONDARY_BACKGROUND}); /* sets background of the menu */
	color: rgba({TEXT});
	font-family: "{SECONDARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}pt;
	outline: none;
	margin: 3px;
	border: none;
	border-radius: 0px;
	opacity: 255;
}}


TodoEditorWidget {{
	background-color: rgba(230,230,230,255);
	color: rgba({SECONDARY_TEXT});
	border-width: 0px;
	border: none;
	margin: 0px;
	padding: 0px;
	outline: 0;
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}pt;
}}

TodoEditorWidget QScrollBar:vertical, TodoEditorWidget QScrollBar:horizontal {{
	background: rgba(230,230,230,255);
	border: none;
	border-radius: 6px;
}}
TodoEditorWidget QScrollBar::handle:vertical, TodoEditorWidget QScrollBar::handle:vertical, TodoEditorWidget QScrollBar::handle:horizontal, TodoEditorWidget QScrollBar::handle:horizontal {{
	background: rgba(200,200,200,255);
	border: none;
	max-height: 250px;
	min-height: 24px;
}}
TodoEditorWidget QScrollBar::add-page:vertical, TodoEditorWidget QScrollBar::sub-page:vertical, TodoEditorWidget QScrollBar::add-page:horizontal, TodoEditorWidget QScrollBar::sub-page:horizontal {{
	background: rgba(230,230,230,255);
}}

TodoItemEditor {{
	background-color: rgba(230,230,230,255);
	border-width: 0px;
	border: solid;
	border-radius: 6px;
	border-color: rgba(230,230,230,255);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	outline: 0;
	color: rgba(0,0,0,255);
	font-family: "{SECONDARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}pt;
}}

TodoItemEditor:focus {{
	color: rgba(30,30,30,255);
	background-color: rgba(240,240,240,255);
}}
TodoItemEditor:disabled {{
	color: rgba({FAVOURITE});
	background-color: rgba(230,230,230,255);
}}

CheckBoxButton, DragIndicatorButton{{
	background-color: rgba(230,230,230,255);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}}
CheckBoxButton:disabled, DragIndicatorButton:disabled {{
	background-color: rgba(0,0,0,0);
}}



AddBookmarksWidget {{
	background-color: rgba(150,150,150,255);
	color: rgba({SECONDARY_TEXT});
	border-width: 1px;
	border: none;
	margin: 0px;
	padding: 0px;
	outline: 0;
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}pt;
}}



ThumbnailButton {{
	background-color: rgba(BACKGROUND);
}}
