QWidget {{
	background-color: rgba({BACKGROUND});
	color: rgba({SECONDARY_TEXT});
	border-width: 1px;
	border: none;
	margin: 0px;
	padding: 0px;
	outline: 0;
	font-family: {fontFamily};
	font-size: {fontSize}pt;
}}

QWidget:disabled {{
	color: rgba({SECONDARY_TEXT});
}}


QWidget:focus {{
	border: solid;
	border-width: 1px;
	border-color: rgba({SELECTION});
}}
QWidget:window {{
	border: solid;
	border-width: 1px;
	border-color: rgba({SELECTION});
}}


QStatusBar {{
	color: rgba({SECONDARY_TEXT});
	background-color: rgba({SECONDARY_BACKGROUND});
	font-family: "Roboto Black";
	font-size: 7pt;
	margin: 0px;
	padding: 0px;
	height: 24px;
}}

TodoItemEditor {{
	background-color: rgba({TEXT});
	border-width: 1px;
	border: solid;
	border-color: rgba(180,180,180,255);
	margin: 1px;
	padding: 1px;
	outline: 0;
	color: rgba({SEPARATOR});
	font-family: "Roboto Medium";
	font-size: 11pt;
}}

TodoItemEditor:focus {{
	color: rgba(0,0,0,255);
	background-color: rgba({TEXT_SELECTED});
}}
TodoItemEditor:disabled {{
	border: none;
	border-width: 1px;
	border-color: rgba(180,180,180,255);
	color: rgba(150,150,150,255);
	background-color: rgba(210,210,210,255);
}}



QToolTip {{
	margin: 0px;
	padding: 0px;
	height: 24px;
}}

QCheckBox {{
	color: rgba({TEXT});
	background-color: transparent;
	margin: 0px;
	padding: 4px;
}}
QCheckBox::SELECTION {{
	height: 12px;
	width: 12px;
	border: 0px solid;
	border-radius: 6px;
}}
QCheckBox::SELECTION:unchecked {{
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QCheckBox::SELECTION:checked  {{
	background-color: rgba({SELECTION});
}}


QRadioButton {{
	color: rgba({SECONDARY_TEXT});
	background-color: transparent;
	margin: 0px;
	padding: 4px;
}}
QRadioButton:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QRadioButton::SELECTION {{
	height: 12px;
	width: 12px;
	border: 0px solid;
	border-radius: 2px;
}}
QRadioButton::SELECTION:unchecked {{
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QRadioButton::SELECTION:checked  {{
	background-color: rgba({SECONDARY_TEXT});
}}


QPushButton {{
		text-align: left;
		border-left: 1px solid rgba(0, 0, 0, 50);
		padding-left: 10px;
		padding-right: 10px;
		border-style: solid;
		color: rgba({TEXT});
		background-color: rgba({BACKGROUND_SELECTED});
		font-family: "Roboto Black";
		font-size: 8pt;
		height: 24px;
}}
QPushButton:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QPushButton:hover {{
	padding-left: 8px;
		border-left: 3px solid rgba({SELECTION});
		color: rgba({TEXT_SELECTED});
		background-color: rgba(100, 100, 100, 255);
}}
QPushButton:pressed {{
		border-left: 4px solid rgba({SELECTION});
		padding-left: 7px;
		color: rgba({TEXT_SELECTED});
		background-color: rgba(130, 130, 130, 255);
}}

QComboBox {{
	text-align: left;
	height: 24px;
	border-left: 4px solid rgba({BACKGROUND_SELECTED});
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
	color: rgba({TEXT});
	background-color: rgba({BACKGROUND_SELECTED});
	font-family: "Roboto Black";
	font-size: 8pt;
}}
QComboBox:hover {{
		border-left: 4px solid rgb({SELECTION});
		color: rgb({TEXT_SELECTED});
		background-color: rgba(130, 130, 130, 255);
}}
QComboBox:focus {{
		border: solid;
		border-width: 1px 1px 1px 4px;
		border-color: rgba({SELECTION});
}}
QComboBox:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QComboBox QAbstractItemView {{
	margin: 0px;
	padding: 0px;
	outline: none;
}}
QComboBox::drop-down {{
		background-color: transparent;
		width: 0px;
		height: 0px;
		padding: 0px;
		margin: 0px;
		border-width: 0px;
		border-style: none;
		border-radius: 0px;
}}
QComboBox::drop-down:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
}}


QLineEdit {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT});
	border: 0px solid;
	border-radius: 2px;
	padding: 6px;
}}
QLineEdit:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT_DISABLED});
}}

.QTextEdit {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT});
	border: 0px solid;
	border-radius: 2px;
	padding: 6px;
}}
.QTextEdit:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT_DISABLED});
}}



QScrollBar {{
	width:6px;
	height:6px;
}}
QScrollBar:vertical, QScrollBar:horizontal {{
	background: rgba({SEPARATOR});
	border: none;
}}
QScrollBar::handle:vertical, QScrollBar::handle:vertical, QScrollBar::handle:horizontal, QScrollBar::handle:horizontal {{
	background: rgba({BACKGROUND_SELECTED});
	border: 0px solid;
	border-radius: 2px;
	max-height: 250px;
	min-height: 50px;
}}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {{
	background: rgba({SEPARATOR});
}}


TodoItemEditor QScrollBar:vertical, TodoItemEditor QScrollBar:horizontal {{
	background: rgba({SECONDARY_TEXT});
	border: none;
}}
TodoItemEditor QScrollBar::handle:vertical, TodoItemEditor QScrollBar::handle:vertical, TodoItemEditor QScrollBar::handle:horizontal, TodoItemEditor QScrollBar::handle:horizontal {{
	background: rgba({TEXT});
	border: 0px solid;
	border-radius: 0px;
	max-height: 250px;
	min-height: 24;
}}
TodoItemEditor QScrollBar::add-page:vertical, TodoItemEditor QScrollBar::sub-page:vertical, TodoItemEditor QScrollBar::add-page:horizontal, TodoItemEditor QScrollBar::sub-page:horizontal {{
	background: rgba({SECONDARY_TEXT});
}}



QListWidget {{
		outline: none;
		border: none;
		margin: 0px;
		padding: 0px;
		background: rgba({SECONDARY_BACKGROUND});
		font-family: "Roboto Black";
		font-size: 8pt;
}}



QTableView {{
	color: rgba({TEXT});
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	selection-background-color: transparent;
}}
QTableView::SELECTION {{
	background-color: rgba({SELECTION});
}}


QHeaderView {{
	color: rgba({TEXT});
	background-color: rgba({TEXT});
	margin: 0px;
	padding: 0px;
}}
QHeaderView::section {{
	background-color: rgba({BACKGROUND});
	color: rgba({TEXT_SELECTED});
	border: none;
	padding-left: 12px;
	margin:0px;
	height:24px;
	text-align: left;
}}

QTreeView {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT});
	border: none;
	border-width: 0px;
	outline: none;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	selection-background-color: transparent;
}}
QTreeView::item:hover {{
	outline: 0;
  background: transparent;
  border: none;
}}
QTreeView::item:focus {{
	outline: 0;
  background: transparent;
  border: none;
}}
QTreeView::item:selected {{
	outline: 0;
	background: transparent;
  border: none;
}}
QTreeView::SELECTION {{
	outline: 0;
	background-color: rgba({SELECTION});
}}

QLabel {{
	color: rgba({TEXT});
	background-color: transparent;
}}
QLabel:disabled {{
	background-color: transparent;
	color: rgba({TEXT_DISABLED});
}}


QMenu {{
		padding: 0;
		margin: 0;
		color: rgba({TEXT});
    background-color: rgba({BACKGROUND}); /* sets background of the menu */
    border: none;
		outline: none;
}}
QMenu::item {{
	padding: 4px 4px 4px 24px;
	margin: 0;
}}
QMenu::item:disabled {{
	color: rgba({TEXT_DISABLED});
}}
QMenu::item:disabled:selected {{
	color: rgba({TEXT_DISABLED});
}}
QMenu::item:selected {{ /* when user selects item using mouse or keyboard */
    color: rgba({TEXT_SELECTED});
    background-color: rgba({BACKGROUND_SELECTED});
}}
QMenu::SEPARATOR {{
    height: 1px;
    background: rgba({SEPARATOR});
    margin-left: 10px;
    margin-right: 10px;
}}


QToolTip {{
		padding: 0;
		margin: 0;
		color: rgba({TEXT});
    background-color: rgba({SECONDARY_BACKGROUND}); /* sets background of the menu */
    border: none;
		outline: none;
		font-size: 9pt;
}}
