QWidget {{
	background-color: rgba({BACKGROUND});
	color: rgba({TEXT});
	border-width: 0;
	border: none;
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
}}

QWidget:disabled {{
	color: rgba({SECONDARY_TEXT});
}}
QWidget:window {{
	border: none;
	border-width: 0;
	border-color: rgba({FAVOURITE});
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
}}

MainWidget  {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({SEPARATOR});
}}
MayaMainWidget {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({SEPARATOR});
}}
QStackedWidget {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({SEPARATOR});
}}
QStackedWidget:focus {{
	border-color: rgba({FAVOURITE});
}}

QGroupBox {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	border: {ROW_SEPARATOR}px solid rgba(0, 0, 0, 50);
	border-radius: {RADIUS}px;
	background-color: rgba(0, 0, 0, 10);
}}
QGroupBox::title {{
	font-family: "{PRIMARY_FONT}";
	font-size: {SMALL_FONT_SIZE}px;
	color: rgba({SECONDARY_TEXT});
  subcontrol-origin: margin;
  subcontrol-position: top center; /* position at the top center */
  margin: 0px {RADIUS}px;
}}


/* Preferences widget */
SectionsStackWidget {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({BACKGROUND});
	border-top: {ROW_SEPARATOR}px solid rgba(30,30,30,200);
	border-bottom: {ROW_SEPARATOR}px solid rgba(30,30,30,200);
}}

QSplitter:handle {{
	border: {ROW_SEPARATOR}px solid rgba(0,0,0,50);
	/* background-color: rgba(0, 0, 0, 150); */
}}


QStatusBar {{
	font-family: "{PRIMARY_FONT}";
	font-size: {SMALL_FONT_SIZE}px;
	color: rgba({TEXT});
	background-color: rgba({SEPARATOR});
	padding: {RADIUS}px;
	margin: {RADIUS}px;
}}
QStatusBar::item {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	text-align: center;
	padding: {RADIUS}px;
	margin: {RADIUS}px;
	border: none;
}}


QCheckBox {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	height: {MEDIUM_FONT_SIZE}px;
	border-radius: {RADIUS}px;
	background-color: rgba({SECONDARY_BACKGROUND});
	margin: 0px;
	padding: {RADIUS}px;
}}
QCheckBox::indicator {{
	height: {MEDIUM_FONT_SIZE}px;
	width: {MEDIUM_FONT_SIZE}px;
	border: none;
	border-radius: {RADIUS}px;
}}
QCheckBox::indicator:unchecked {{
	background-color: rgba({SEPARATOR});
}}
QCheckBox::indicator:checked  {{
	background-color: rgba({FAVOURITE});
}}


QRadioButton {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	color: rgba({SECONDARY_TEXT});
	background-color: transparent;
	margin: 0px;
	padding: {RADIUS}px;
}}
QRadioButton:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QRadioButton::indicator {{
	height: {MEDIUM_FONT_SIZE}px;
	width: {MEDIUM_FONT_SIZE}px;
	border: none;
	border-radius: {ROW_SEPARATOR}px;
}}
QRadioButton::indicator:unchecked {{
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QRadioButton::indicator:checked  {{
	background-color: rgba({SECONDARY_TEXT});
}}


QPushButton {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	text-align: center;
	padding-left: {MEDIUM_FONT_SIZE}px;
	padding-right: {MEDIUM_FONT_SIZE}px;
	color: rgba({TEXT});
	background-color: rgba({SECONDARY_TEXT});
	border-radius: 0px;
	border: {ROW_SEPARATOR}px solid rgba({SECONDARY_TEXT});
}}
QPushButton:disabled {{
	color: rgba({SECONDARY_TEXT});
	background-color: rgba({SECONDARY_BACKGROUND});
	border: {ROW_SEPARATOR}px solid rgba({SECONDARY_BACKGROUND});
}}
QPushButton:hover {{
	color: rgba({TEXT_SELECTED});
	background-color: rgba({BACKGROUND_SELECTED});
	border: {ROW_SEPARATOR}px solid rgba({BACKGROUND_SELECTED});
}}
QPushButton:pressed {{
	color: rgba({TEXT_SELECTED});
	background-color: rgba({SECONDARY_BACKGROUND});
	border: {ROW_SEPARATOR}px solid rgba({SECONDARY_BACKGROUND});
}}
QPushButton:focus {{
	border: {ROW_SEPARATOR}px solid rgba({FAVOURITE});
}}



QComboBox {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	color: rgba({TEXT});
	text-align: left;
	padding-left: {MEDIUM_FONT_SIZE}px;
	padding-right: {MEDIUM_FONT_SIZE}px;
	border-style: none;
	background-color: rgba({BACKGROUND_SELECTED});
	border-radius: {RADIUS_SM}px;
}}

QComboBox::drop-down {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: {ROW_SEPARATOR}px;
	border-width: 0px;
	border-style: none;
	border-radius: {RADIUS_SM}px;
}}
QComboBox QListView::item {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	color: rgba({TEXT});
	background-color: rgba({SECONDARY_BACKGROUND});
	padding-left: {RADIUS_SM}px;
}}
QComboBox QListView::item:hover {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	color: rgba({TEXT_SELECTED});
	background-color: rgba({BACKGROUND_SELECTED});
}}

QComboBox:hover {{
		color: rgba({TEXT_SELECTED});
		background-color: rgba(150, 150, 150, 255);
}}
QComboBox:disabled {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba({SECONDARY_BACKGROUND});
}}
QComboBox:on {{
	color: rgba({TEXT_DISABLED});
	background-color: rgba(0,0,0,20);
}}


QLineEdit {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-radius: {ROW_SEPARATOR}px;
	padding: {RADIUS}px;
}}
QLineEdit:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT_DISABLED});
}}

.QTextEdit {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-radius: {ROW_SEPARATOR}px;
	padding: {RADIUS}px;
}}
.QTextEdit:disabled {{
	background-color: rgba({SECONDARY_BACKGROUND});
	color: rgba({TEXT_DISABLED});
}}


QScrollBar {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background: rgba({SEPARATOR});
	border-radius: {RADIUS_SM}px;
	width: {SCROLLBAR_SIZE}px;
	height: {SCROLLBAR_SIZE}px;
}}
QScrollBar::handle {{
	background: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-radius: {RADIUS_SM}px;
	min-height: {SCROLLBAR_MINHEIGHT}px;
}}

QScrollBar::add-page,
QScrollBar::add-line,
QScrollBar::sub-page,
QScrollBar::up-arrow,
QScrollBar::down-arrow,
QScrollBar::sub-line {{
	background: transparent;
	border: none;
	border-radius: 0px;
}}


QListWidget,
QListView {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background: rgba({SECONDARY_BACKGROUND});
}}
QListWidget::item,
QListView::item {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	outline: 0;
	color: rgba({TEXT});
  background: rgba({BACKGROUND});
	border-bottom: {ROW_SEPARATOR}px solid rgba(0,0,0,50);
}}
QListWidget::item:hover,
QListView::item:hover {{
  background: rgba({BACKGROUND_SELECTED});
}}
QListWidget::item:selected,
QListView::item:selected {{
	background: rgba({BACKGROUND_SELECTED});
}}
QListWidget::item:selected:hover,
QListView::item:selected:hover {{
	background: rgba({BACKGROUND_SELECTED});
}}
QListWidget::indicator,
QListView::indicator {{
	width: {MEDIUM_FONT_SIZE}px;
	height: {MEDIUM_FONT_SIZE}px;
	border-radius: {RADIUS}px;
	background-color: rgba({SECONDARY_BACKGROUND});
	margin-left: {RADIUS}px;
	margin-right: {RADIUS}px;
	subcontrol-position: center;
}}
QListWidget::indicator:checked,
QListView::indicator:checked {{
	background: rgba({ADD});
}}


QHeaderView::section {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({SECONDARY_BACKGROUND});
	alignment: center;
	text-align: center;
	color: rgba({TEXT_SELECTED});
	border: none;
	border-left: {ROW_SEPARATOR}px solid rgba({SEPARATOR});
	border-bottom: {ROW_SEPARATOR}px solid rgba({SEPARATOR});
	border-radius: 0px;
}}


/* QTreeView */
QTreeView {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
}}
/* QTreeView::item - The actual rows*/
QTreeView::item {{
	border: none;
}}
QTreeView::item:hover {{
  background: rgba(255,255,255, 20);
}}
QTreeView::item:focus {{
  background: transparent;
}}
QTreeView::item:selected {{
	background: rgba(255, 255, 255, 100);
}}
/* QTreeView::branch - The space where the chevrons reside */
QTreeView:branch {{
	background-color: rgba({SECONDARY_BACKGROUND});
	border: none;
	border-image: none;
}}
QTreeView::branch:focus {{
  background: transparent;
}}
QTreeView:branch:selected {{
	background: rgba(255, 255, 255, 100);
}}
QTreeView:branch:!open:has-children {{
  image: url("{BRANCH_CLOSED}");
}}
QTreeView:branch:open:has-children:!has-siblings,
QTreeView:branch:open:has-children:has-siblings {{
  image: url("{BRANCH_OPEN}");
}}


QLabel {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: transparent;
}}
QLabel:disabled {{
	background-color: transparent;
	color: rgba({TEXT_DISABLED});
}}


QMenu {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
  background-color: rgba({SECONDARY_BACKGROUND});
	margin: 0px;
	padding: 0px;
	border: none;
	menu-scrollable: 1;
}}
QMenu::separator {{
  height: {ROW_SEPARATOR}px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  background-color: rgba(0,0,0,100);
  color: rgba(0,0,0,0);
}}
QMenu::indicator,
QMenu::icon {{
	padding: {CONTEXT_MENU_PADDING}px;
	alignment: center;
	text-align: center;
	background-color: rgba(0,0,0,30);
}}
QMenu::icon:selected,
QMenu::indicator:selected {{
	background-color: transparent;
}}
QMenu::item {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	color: rgba({TEXT});
	padding: 0px {MARGIN}px 0px {MARGIN}px;
	margin: 0px 0px 0px 0px;
	height: {CONTEXT_MENU_HEIGHT}px;
  background-color: transparent;
}}
QMenu::item:selected {{
	color: rgba({TEXT_SELECTED});
  background-color: rgba(255,255,255,50);
}}
QMenu::item:disabled {{
	color: rgba({TEXT_DISABLED});
  background-color: rgba(0,0,0,20);
}}
QMenu::right-arrow {{
  margin: 0px;
  image: url({BRANCH_CLOSED});
  height: {MARGIN}px;
  width: {MARGIN}px;
}}


QToolTip {{
	font-family: "{PRIMARY_FONT}";
	font-size: {SMALL_FONT_SIZE}px;
  background-color: rgba({SECONDARY_BACKGROUND}); /* sets background of the menu */
	color: rgba({TEXT});
	outline: none;
	margin: {RADIUS_SM}px;
	border: none;
	border-radius: 0px;
	opacity: 255;
}}


CheckBoxButton,
DragIndicatorButton {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba(230,230,230,255);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}}
CheckBoxButton:disabled,
DragIndicatorButton:disabled {{
	background-color: rgba(0,0,0,0);
}}


ThumbnailButton {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	background-color: rgba({BACKGROUND});
}}

TodoEditors,
TodoItemWidget,
TodoItemEditor {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	color: rgba({SECONDARY_BACKGROUND});
	background-color: transparent;
	border-radius: {RADIUS}px;
	border: {ROW_SEPARATOR}px solid transparent;
}}
TodoEditors:disabled,
TodoItemWidget:disabled,
TodoItemEditor:disabled {{
	color: rgba({ADD});
}}
TodoItemEditor:focus {{
	border: {ROW_SEPARATOR}px solid rgba(0,0,0,20) ;
}}

TodoEditorWidget QScrollBar {{
	background: transparent;
	border: none;
	border-radius: 0px;
	width:{RADIUS}px;
	height: {RADIUS}px;
}}
TodoEditorWidget QScrollBar:vertical,
TodoEditorWidget QScrollBar:horizontal {{
	background: rgba({TEXT});
	border: none;
}}
TodoEditorWidget QScrollBar::handle {{
	background: rgba({SECONDARY_TEXT});
	border: none;
	border-radius: {RADIUS}px;
	border: none;
	max-height: 250px;
	min-height: {MARGIN}px;
}}

TodoEditorWidget QScrollBar::add-page,
TodoEditorWidget QScrollBar::sub-page,
TodoEditorWidget QScrollBar::add-line,
TodoEditorWidget QScrollBar::up-arrow,
TodoEditorWidget QScrollBar::down-arrow,
TodoEditorWidget QScrollBar::sub-line {{
	background: rgba({TEXT});
	border: none;
	border-radius: 0px;
}}

PreferencesWidget {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	margin: {RADIUS}px;
}}
PreferencesWidget::handle:horizontal  {{
		border-right: {ROW_SEPARATOR}px solid rgba(0,0,0,150);
}}

SectionSwitcherWidget  {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	border: {ROW_SEPARATOR}px solid rgba(0,0,0,100);
}}

LineEdit,
NameModeWidget {{
    background-color: rgba(0,0,0,0);
    font-family: "{PRIMARY_FONT}";
    font-size: {MEDIUM_FONT_SIZE}px;
    border-bottom: {ROW_SEPARATOR}px solid rgba(0,0,0,50);
    border-radius: 0px;
    color: rgba({TEXT});
}}
LineEdit:!read-only:focus{{
    border-bottom: {ROW_SEPARATOR}px solid rgba({ADD});
}}

Bookmarks {{
	font-family: "{PRIMARY_FONT}";
	font-size: {MEDIUM_FONT_SIZE}px;
	border: {ROW_SEPARATOR}px solid rgba(0,0,0,50);
}}

SelectFolderView,
BaseListView {{
	background-color: rgba({SECONDARY_BACKGROUND});
	margin: {RADIUS}px;
	border-radius: {RADIUS}px;
}}

LogView {{
		color: rgba({SECONDARY_TEXT});
    margin: 0px;
    padding: 0px;
    border-radius: {RADIUS}px;
    font-size: {SMALL_FONT_SIZE}px;
    background-color: rgba(27,29,35,255);
}}
